.outerUserNameContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(../Images/culex.gif);
    opacity: 70%;
}

.introUserNameTest {
    margin-top: 6rem;
    position: absolute;
    top: 0%;
    color: white;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 20px;
    width: 60%;
    text-align: center;
    text-shadow: 1px 3px 2px black, 0px 0px 1em #fdffff, 0 0 1.2em #ffffff;
}

.addUserNameBox {
    display: flex;
    width: 50%;
    height: 160px;
    position: absolute;
    border-radius: 0.5rem;
    box-shadow: 1px 3px 15px 1px rgb(121 121 121 / 100%);
    background-color: rgb(61 111 123 / 85%);
    margin-bottom: 1rem;
    margin-top: 11rem;
    left: 50%;
    transform: translate(-50%, 0%);
}

.addUserName {
    width: 95%;
    height: 60%;
    position: absolute;
    top: 6%;
    left: 2.5%;
    color: black;
    border-radius: 0.5rem;
    background-color: rgb(23 31 37 / 60%);
    color: white;
    text-align: center;
}

.setUserNameButton {
    position: absolute;
    top: 71%;
    right: 5%;
    width: 23%;
    background-color: rgb(98 225 143 / 77%);
    font-size: 1.3vw;
    height: 39px;
    border-radius: 1.5rem;
  }

  .currentUser {
    
    position: absolute;
    top: 48%;
    left: 28%;
    color: white;
  }